@media screen and (max-width: 900px){
    .hero-content{
        width: 100%;
    }
    .hero-img img{
        width: 500px;
    }
}

@media screen and (max-width: 720px){


    .for-desktop{
        display: none;
    }
    .for-mobile{
        display: block;
    }
    .navbar-toggler-icon{
        color: #fff;
        outline: none;
    }
    .navbar-nav .nav-link{
        margin-top: 15px
    }
    #hero{
        padding: 50px 0;
        height: 100vh;
    }
    .her-box{
        flex-direction: column;
    }
    .hero-content{
        padding-right: 0;
        width: 100%;
    }
    .hero-img{
        width: 100%;
    }
    .hero-img img{
        left: 50%;
        width: 400px;
        transform: translate(-50%);
    }
    h1{
        font-size: 35px;
        color:#0A6A89;
    }
    h3{
        font-size: 25px;
    }
    h2{
        font-size: 30px;
    }
    .section-padding{
        padding: 50px 0;
    }
    .portfolio-title {
        width: 100%;
        padding-bottom: 20px;
    }
    .owl-nav {
        position: absolute;
        top: -44px;
        left: -38px;
    }
    .counter-box{
        border-right: 0;
        border-bottom: 2px #fff solid;
    }
    #page-title h2 {
        font-size: 31px;
        letter-spacing: 15px;
    }
    .portfolio-iteam{
        padding: 20px 20px;
    }
    .portfolio-iteam-img img{
        margin: 20px 0;
    }

}

